USE [master]
GO
/****** Object:  Database [PlantControllerSim]    Script Date: 02/03/2026 2.10.43 ******/
CREATE DATABASE [PlantControllerSim]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PlantControllerSim', FILENAME = N'E:\MSSQL\MSSQL16.SQLEXPRESS\MSSQL\DATA\PlantControllerSim.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PlantControllerSim_log', FILENAME = N'E:\MSSQL\MSSQL16.SQLEXPRESS\MSSQL\DATA\PlantControllerSim_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PlantControllerSim].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PlantControllerSim]
GO
/****** Object:  Table [dbo].[dimDate]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimDate](
	[Datekey] [int] NOT NULL,
	[DateValue] [date] NOT NULL,
	[MonthKey] [int] NOT NULL,
	[FiscalMonthName] [varchar](20) NOT NULL,
 CONSTRAINT [PK_dimDate] PRIMARY KEY CLUSTERED 
(
	[DateValue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dimLocation]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimLocation](
	[LocationId] [int] NOT NULL,
	[LocationCode] [varchar](20) NOT NULL,
	[LocationType] [varchar](10) NOT NULL,
	[PlantCode] [varchar](20) NOT NULL,
 CONSTRAINT [PK_dimLocation] PRIMARY KEY CLUSTERED 
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inventoryTransaction]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventoryTransaction](
	[InvTxnId] [int] NOT NULL,
	[DateKey] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[FromLocationId] [int] NULL,
	[ToLocationId] [int] NULL,
	[Quantity] [decimal](18, 4) NOT NULL,
	[StdValue] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_inventoryTransaction] PRIMARY KEY CLUSTERED 
(
	[InvTxnId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_Close_Jan_InvMovement_ByItem]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_Close_Jan_InvMovement_ByItem]
AS
WITH tx AS
(
    SELECT
        d.MonthKey,
        it.ItemId,
        it.StdValue,
        toLoc.LocationType   AS ToLocationType,
        fromLoc.LocationType AS FromLocationType
    FROM dbo.inventoryTransaction it
    JOIN dbo.dimDate d
        ON d.DateKey = it.DateKey
    LEFT JOIN dbo.dimLocation toLoc
        ON toLoc.LocationId = it.ToLocationId
    LEFT JOIN dbo.dimLocation fromLoc
        ON fromLoc.LocationId = it.FromLocationId
    WHERE d.MonthKey = 202501
),
movIn AS
(
    SELECT
        MonthKey,
        ToLocationType AS LocationType,
        ItemId,
        SUM(StdValue) AS StdValueIn
    FROM tx
    WHERE ToLocationType IS NOT NULL
    GROUP BY MonthKey, ToLocationType, ItemId
),
movOut AS
(
    SELECT
        MonthKey,
        FromLocationType AS LocationType,
        ItemId,
        SUM(StdValue) AS StdValueOut
    FROM tx
    WHERE FromLocationType IS NOT NULL
    GROUP BY MonthKey, FromLocationType, ItemId
)
SELECT
    COALESCE(i.MonthKey, o.MonthKey) AS MonthKey,
    COALESCE(i.LocationType, o.LocationType) AS LocationType,
    COALESCE(i.ItemId, o.ItemId) AS ItemId,
    COALESCE(i.StdValueIn, 0) AS StdValueIn,
    COALESCE(o.StdValueOut, 0) AS StdValueOut,
    COALESCE(i.StdValueIn, 0) - COALESCE(o.StdValueOut, 0) AS NetMovementStdValue
FROM movIn i
FULL OUTER JOIN movOut o
    ON o.MonthKey = i.MonthKey
   AND o.LocationType = i.LocationType
   AND o.ItemId = i.ItemId;
GO
/****** Object:  Table [dbo].[inventoryBalanceOpening]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventoryBalanceOpening](
	[OpeningBalId] [int] IDENTITY(1,1) NOT NULL,
	[MonthKey] [int] NOT NULL,
	[LocationType] [varchar](20) NOT NULL,
	[ItemId] [int] NOT NULL,
	[OpeningQty] [decimal](18, 4) NOT NULL,
	[OpeningStdValue] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OpeningBalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_inventoryBalanceOpening] UNIQUE NONCLUSTERED 
(
	[MonthKey] ASC,
	[LocationType] ASC,
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_Close_Jan_EndingInventory]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_Close_Jan_EndingInventory]
AS
WITH o AS
(
    SELECT
        MonthKey,
        LocationType,
        ItemId,
        OpeningStdValue
    FROM dbo.inventoryBalanceOpening
    WHERE MonthKey = 202501
),
m AS
(
    SELECT
        MonthKey,
        LocationType,
        ItemId,
        NetMovementStdValue
    FROM dbo.v_Close_Jan_InvMovement_ByItem
    WHERE MonthKey = 202501
),
k AS
(
    SELECT MonthKey, LocationType, ItemId FROM o
    UNION
    SELECT MonthKey, LocationType, ItemId FROM m
)
SELECT
    k.MonthKey,
    k.LocationType,
    k.ItemId,
    COALESCE(o.OpeningStdValue, 0) AS OpeningStdValue,
    COALESCE(m.NetMovementStdValue, 0) AS NetMovementStdValue,
    COALESCE(o.OpeningStdValue, 0) + COALESCE(m.NetMovementStdValue, 0) AS EndingStdValue
FROM k
LEFT JOIN o
    ON o.MonthKey = k.MonthKey
   AND o.LocationType = k.LocationType
   AND o.ItemId = k.ItemId
LEFT JOIN m
    ON m.MonthKey = k.MonthKey
   AND m.LocationType = k.LocationType
   AND m.ItemId = k.ItemId;
GO
/****** Object:  Table [dbo].[fixedAsset]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fixedAsset](
	[AssetId] [int] NOT NULL,
	[AssetName] [varchar](100) NOT NULL,
	[InServiceDateKey] [int] NOT NULL,
	[CapexAmount] [decimal](18, 2) NOT NULL,
	[UsefulLifeMonths] [int] NOT NULL,
	[CostCenter] [varchar](20) NOT NULL,
 CONSTRAINT [PK_fixedAsset] PRIMARY KEY CLUSTERED 
(
	[AssetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_Close_Jan_Depreciation]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_Close_Jan_Depreciation]
AS
SELECT
    202501 AS MonthKey,
    fa.AssetId,
    fa.AssetName,
    fa.InServiceDateKey,
    fa.CapexAmount,
    fa.UsefulLifeMonths,
    CAST(fa.CapexAmount / NULLIF(fa.UsefulLifeMonths, 0) AS decimal(18,2)) AS MonthlyDepreciation
FROM dbo.fixedAsset fa
WHERE fa.InServiceDateKey <= 20250131;
GO
/****** Object:  View [dbo].[v_Close_Jan_FARollforward]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_Close_Jan_FARollforward]
AS
WITH dep AS
(
    SELECT
        AssetId,
        SUM(MonthlyDepreciation) AS DepreciationJan
    FROM dbo.v_Close_Jan_Depreciation
    GROUP BY AssetId
)
SELECT
    202501 AS MonthKey,
    fa.AssetId,
    fa.AssetName,
    CAST(fa.CapexAmount AS decimal(18,2)) AS CapexAmount,
    CAST(0 AS decimal(18,2)) AS AccumDepOpening,
    CAST(fa.CapexAmount AS decimal(18,2)) AS OpeningNBV,
    CAST(0 AS decimal(18,2)) AS Additions,
    CAST(ISNULL(dep.DepreciationJan, 0) AS decimal(18,2)) AS Depreciation,
    CAST(fa.CapexAmount - ISNULL(dep.DepreciationJan, 0) AS decimal(18,2)) AS EndingNBV
FROM dbo.fixedAsset fa
LEFT JOIN dep
    ON dep.AssetId = fa.AssetId
WHERE fa.InServiceDateKey <= 20250131;
GO
/****** Object:  Table [dbo].[warrantyClaim]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[warrantyClaim](
	[ClaimId] [int] NOT NULL,
	[DateKey] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[Units] [int] NOT NULL,
	[ClaimCostActual] [decimal](18, 2) NOT NULL,
	[CustomerId] [int] NOT NULL,
 CONSTRAINT [PK_warrantyClaim] PRIMARY KEY CLUSTERED 
(
	[ClaimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dimItem]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimItem](
	[ItemId] [int] NOT NULL,
	[ItemCode] [varchar](20) NOT NULL,
	[ItemType] [nchar](10) NOT NULL,
	[Uom] [nchar](10) NOT NULL,
	[StandardCostVersion] [nchar](10) NOT NULL,
 CONSTRAINT [PK_dimItem] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[standardCost]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[standardCost](
	[StdCostId] [int] NOT NULL,
	[CostVersion] [varchar](7) NOT NULL,
	[ItemId] [int] NOT NULL,
	[MaterialCostStd] [decimal](18, 4) NOT NULL,
	[LaborCostStd] [decimal](18, 4) NOT NULL,
	[OverheadCostStd] [decimal](18, 4) NOT NULL,
 CONSTRAINT [PK_standardCost] PRIMARY KEY CLUSTERED 
(
	[StdCostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[salesInvoiceLine]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[salesInvoiceLine](
	[SalesLineId] [int] NOT NULL,
	[DateKey] [int] NOT NULL,
	[InvoiceNumber] [varchar](50) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[Itemid] [int] NOT NULL,
	[Quantity] [decimal](18, 4) NOT NULL,
	[NetSalesAmount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_salesInvoiceLine] PRIMARY KEY CLUSTERED 
(
	[SalesLineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_Close_Jan_SalesCogsStd]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[v_Close_Jan_SalesCogsStd]
AS
SELECT
    d.MonthKey,
    s.ItemId,
    SUM(s.Quantity) AS QtyShipped,
    SUM(s.NetSalesAmount) AS NetSales,
    CAST(sc.MaterialCostStd + sc.LaborCostStd + sc.OverheadCostStd AS decimal(18,4)) AS StdUnitCost,
    CAST(SUM(s.Quantity) * (sc.MaterialCostStd + sc.LaborCostStd + sc.OverheadCostStd) AS decimal(18,4)) AS StdCogs
FROM dbo.salesInvoiceLine s
JOIN dbo.dimDate d
    ON d.DateKey = s.DateKey
JOIN dbo.standardCost sc
    ON sc.ItemId = s.ItemId
   AND sc.CostVersion = '2025M01'
JOIN dbo.dimItem i
    ON i.ItemId = s.ItemId
WHERE d.MonthKey = 202501
  AND i.ItemType = 'FG'
GROUP BY
    d.MonthKey,
    s.ItemId,
    sc.MaterialCostStd,
    sc.LaborCostStd,
    sc.OverheadCostStd;
GO
/****** Object:  View [dbo].[v_Close_Jan_WarrantyRollforward]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_Close_Jan_WarrantyRollforward]
AS
WITH sales AS
(
    SELECT SUM(NetSales) AS NetSales
    FROM dbo.v_Close_Jan_SalesCogsStd
),
claims AS
(
    SELECT
        CAST(ISNULL(SUM(ClaimCostActual), 0) AS decimal(18,2)) AS ClaimsCost
    FROM dbo.warrantyClaim
    WHERE DateKey BETWEEN 20250101 AND 20250131
)
SELECT
    202501 AS MonthKey,
    CAST(0 AS decimal(18,2)) AS OpeningReserve,
    CAST(ROUND(s.NetSales * 0.02, 2) AS decimal(18,2)) AS Accrual,
    c.ClaimsCost AS ClaimsCost,
    CAST(0 + ROUND(s.NetSales * 0.02, 2) - c.ClaimsCost AS decimal(18,2)) AS EndingReserve
FROM sales s
CROSS JOIN claims c;
GO
/****** Object:  View [dbo].[v_Ctrl_InvBridge_Tie]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[v_Ctrl_InvBridge_Tie]
AS
WITH Base AS (
    SELECT
        MonthKey,
        LocationType,
        ItemId,
        CAST(OpeningStdValue AS decimal(18,2)) AS OpeningStdValue,
        CAST(NetMovementStdValue AS decimal(18,2)) AS NetMovementStdValue,
        CAST(EndingStdValue AS decimal(18,2)) AS EndingStdValue
    FROM dbo.v_Close_Jan_EndingInventory
),
Calc AS (
    SELECT
        MonthKey,
        LocationType,
        ItemId,
        OpeningStdValue,
        NetMovementStdValue,
        EndingStdValue,
        CAST(OpeningStdValue + NetMovementStdValue AS decimal(18,2)) AS ExpectedEndingStdValue,
        CAST((OpeningStdValue + NetMovementStdValue) - EndingStdValue AS decimal(18,2)) AS DeltaStdValue,
        CAST(ABS((OpeningStdValue + NetMovementStdValue) - EndingStdValue) AS decimal(18,2)) AS AbsDeltaStdValue
    FROM Base
)
SELECT
    MonthKey,
    LocationType,
    ItemId,
    OpeningStdValue,
    NetMovementStdValue,
    ExpectedEndingStdValue,
    EndingStdValue,
    DeltaStdValue,
    AbsDeltaStdValue,
    CASE WHEN AbsDeltaStdValue = 0 THEN 1 ELSE 0 END AS IsTied
FROM Calc;
GO
/****** Object:  View [dbo].[v_Ctrl_NegativeInventory_Detail]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[v_Ctrl_NegativeInventory_Detail]
AS
SELECT
    MonthKey,
    LocationType,
    ItemId,
    OpeningStdValue,
    NetMovementStdValue,
    EndingStdValue
FROM dbo.v_Close_Jan_EndingInventory
WHERE EndingStdValue < 0;
GO
/****** Object:  View [dbo].[v_Ctrl_FG_COGS_Tie]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[v_Ctrl_FG_COGS_Tie]
AS
WITH Sales AS
(
    SELECT
        MonthKey,
        SUM(StdCogs) AS SalesStdCogs
    FROM dbo.v_Close_Jan_SalesCogsStd
    GROUP BY MonthKey
),
FGOut AS
(
    SELECT
        MonthKey,
        SUM(StdValueOut) AS FGIssueStdValue
    FROM dbo.v_Close_Jan_InvMovement_ByItem
    WHERE LocationType = 'FG'
    GROUP BY MonthKey
)
SELECT
    COALESCE(s.MonthKey, f.MonthKey) AS MonthKey,
    ISNULL(f.FGIssueStdValue, 0) AS FGIssueStdValue,
    ISNULL(s.SalesStdCogs, 0) AS SalesStdCogs,
    ISNULL(f.FGIssueStdValue, 0) - ISNULL(s.SalesStdCogs, 0) AS DeltaStdValue,
    ABS(ISNULL(f.FGIssueStdValue, 0) - ISNULL(s.SalesStdCogs, 0)) AS AbsDeltaStdValue,
    CASE WHEN ABS(ISNULL(f.FGIssueStdValue, 0) - ISNULL(s.SalesStdCogs, 0)) < 0.01 THEN 1 ELSE 0 END AS IsTied
FROM Sales s
FULL OUTER JOIN FGOut f
    ON f.MonthKey = s.MonthKey;
GO
/****** Object:  View [dbo].[v_Ctrl_StdCost_FG_MissingComponents]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[v_Ctrl_StdCost_FG_MissingComponents]
AS
SELECT
    i.ItemId,
    i.ItemCode,
    i.StandardCostVersion,
    sc.MaterialCostStd,
    sc.LaborCostStd,
    sc.OverheadCostStd,

    CASE WHEN sc.ItemId IS NULL THEN 1 ELSE 0 END AS Fail_MissingStdRecord,
    CASE WHEN sc.MaterialCostStd IS NULL THEN 1 ELSE 0 END AS Fail_MissingMaterial,
    CASE WHEN sc.LaborCostStd IS NULL THEN 1 ELSE 0 END AS Fail_MissingLabor,
    CASE WHEN sc.OverheadCostStd IS NULL THEN 1 ELSE 0 END AS Fail_MissingOverhead

FROM dbo.dimItem i
LEFT JOIN dbo.standardCost sc
    ON sc.ItemId = i.ItemId
    AND sc.CostVersion = i.StandardCostVersion

WHERE
    i.ItemType = 'FG'
    AND (
           sc.ItemId IS NULL
        OR sc.MaterialCostStd IS NULL
        OR sc.LaborCostStd IS NULL
        OR sc.OverheadCostStd IS NULL
    );
GO
/****** Object:  View [dbo].[v_Ctrl_StdCost_FG_MissingActiveVersion]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[v_Ctrl_StdCost_FG_MissingActiveVersion]
AS
SELECT
  i.ItemId,
  i.ItemCode,
  i.StandardCostVersion
FROM dbo.dimItem i
LEFT JOIN dbo.standardCost sc
  ON sc.ItemId = i.ItemId
 AND sc.CostVersion = i.StandardCostVersion
WHERE
  i.ItemType = 'FG'
  AND sc.ItemId IS NULL;
GO
/****** Object:  View [dbo].[v_Ctrl_StdCost_FG_MissingMaterial]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[v_Ctrl_StdCost_FG_MissingMaterial]
AS
SELECT
  i.ItemId,
  i.ItemCode,
  i.StandardCostVersion,
  sc.MaterialCostStd
FROM dbo.dimItem i
JOIN dbo.standardCost sc
  ON sc.ItemId = i.ItemId
 AND sc.CostVersion = i.StandardCostVersion
WHERE
  i.ItemType = 'FG'
  AND sc.MaterialCostStd IS NULL;
GO
/****** Object:  View [dbo].[v_Ctrl_StdCost_FG_MissingLaborOrOH]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[v_Ctrl_StdCost_FG_MissingLaborOrOH]
AS
SELECT
  i.ItemId,
  i.ItemCode,
  i.StandardCostVersion,
  sc.LaborCostStd,
  sc.OverheadCostStd
FROM dbo.dimItem i
JOIN dbo.standardCost sc
  ON sc.ItemId = i.ItemId
 AND sc.CostVersion = i.StandardCostVersion
WHERE
  i.ItemType = 'FG'
  AND (sc.LaborCostStd IS NULL OR sc.OverheadCostStd IS NULL);
GO
/****** Object:  Table [dbo].[factMaterialPurchase]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[factMaterialPurchase](
	[PurchaseId] [int] IDENTITY(1,1) NOT NULL,
	[DateKey] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[SupplierId] [int] NOT NULL,
	[Quantity] [decimal](18, 4) NOT NULL,
	[ActualUnitPrice] [decimal](18, 4) NOT NULL,
	[TotalActualAmount]  AS (CONVERT([decimal](18,2),[Quantity]*[ActualUnitPrice])) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[PurchaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_Close_Jan_MaterialPriceVariance_Recalc]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[v_Close_Jan_MaterialPriceVariance_Recalc]
AS
SELECT
  p.ItemId,
  i.ItemCode,
  i.StandardCostVersion AS CostVersion,
  SUM(p.Quantity) AS PurchaseQty,
  AVG(p.ActualUnitPrice) AS AvgActualUnitPrice,
  sc.MaterialCostStd AS StdUnitPrice,
  SUM( (p.ActualUnitPrice - sc.MaterialCostStd) * p.Quantity ) AS MaterialPriceVariance
FROM dbo.factMaterialPurchase p
JOIN dbo.dimItem i
  ON i.ItemId = p.ItemId
JOIN dbo.standardCost sc
  ON sc.ItemId = p.ItemId
 AND sc.CostVersion = i.StandardCostVersion
WHERE
  p.DateKey >= 20250101 AND p.DateKey < 20250201
  AND i.ItemType = 'RM'
GROUP BY
  p.ItemId,
  i.ItemCode,
  i.StandardCostVersion,
  sc.MaterialCostStd;
GO
/****** Object:  Table [dbo].[bomLine]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bomLine](
	[BomLineId] [int] NOT NULL,
	[ParentItemId] [int] NOT NULL,
	[ComponentItemId] [int] NOT NULL,
	[QtyPer] [decimal](18, 4) NOT NULL,
 CONSTRAINT [PK_bomLine] PRIMARY KEY CLUSTERED 
(
	[BomLineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productionOrder]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productionOrder](
	[ProdOrderId] [int] NOT NULL,
	[OrderNumber] [varchar](50) NOT NULL,
	[ItemId] [int] NOT NULL,
	[PlannedQty] [decimal](18, 4) NOT NULL,
	[ReleasedDatekey] [int] NOT NULL,
	[ClosedDateKey] [int] NULL,
	[ActualDLH] [decimal](18, 2) NULL,
 CONSTRAINT [PK_productionOrder] PRIMARY KEY CLUSTERED 
(
	[ProdOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_Close_Jan_MaterialUsageVariance_Recalc]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[v_Close_Jan_MaterialUsageVariance_Recalc]
AS
WITH Prod AS
(
  SELECT
    202501 AS MonthKey,
    po.ItemId AS FGItemId,
    SUM(po.PlannedQty) AS ProducedQty
  FROM dbo.productionOrder po
  WHERE po.ClosedDateKey >= 20250101
    AND po.ClosedDateKey <  20250201
  GROUP BY po.ItemId
),
StdAllowed AS
(
  SELECT
    p.MonthKey,
    bl.ComponentItemId AS RMItemId,
    SUM(p.ProducedQty * bl.QtyPer) AS StdQtyAllowed
  FROM Prod p
  JOIN dbo.bomLine bl
    ON bl.ParentItemId = p.FGItemId
  GROUP BY p.MonthKey, bl.ComponentItemId
),
ActualUsed AS
(
  SELECT
    d.MonthKey,
    it.ItemId AS RMItemId,
    SUM(it.Quantity) AS ActualQtyUsed
  FROM dbo.inventoryTransaction it
  JOIN dbo.dimDate d
    ON d.DateKey = it.DateKey
  WHERE d.MonthKey = 202501
    AND it.FromLocationId = 1
    AND it.ToLocationId = 2
  GROUP BY d.MonthKey, it.ItemId
),
StdPrice AS
(
  SELECT
    sc.ItemId AS RMItemId,
    CAST(sc.MaterialCostStd AS decimal(18,4)) AS StdUnitPrice
  FROM dbo.standardCost sc
  WHERE sc.CostVersion = '2025M01'
)
SELECT
  COALESCE(a.MonthKey, s.MonthKey) AS MonthKey,
  COALESCE(a.RMItemId, s.RMItemId) AS RMItemId,
  rm.ItemCode,
  ISNULL(s.StdQtyAllowed, 0) AS StdQtyAllowed,
  ISNULL(a.ActualQtyUsed, 0) AS ActualQtyUsed,
  sp.StdUnitPrice,
  CAST((ISNULL(s.StdQtyAllowed, 0) - ISNULL(a.ActualQtyUsed, 0)) * sp.StdUnitPrice AS decimal(18,2)) AS MaterialUsageVariance
FROM StdAllowed s
FULL OUTER JOIN ActualUsed a
  ON a.MonthKey = s.MonthKey
 AND a.RMItemId = s.RMItemId
JOIN dbo.dimItem rm
  ON rm.ItemId = COALESCE(a.RMItemId, s.RMItemId)
LEFT JOIN StdPrice sp
  ON sp.RMItemId = COALESCE(a.RMItemId, s.RMItemId)
WHERE rm.ItemType = 'RM';
GO
/****** Object:  View [dbo].[v_Ctrl_Jan_MaterialIssues_MissingForProduction]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[v_Ctrl_Jan_MaterialIssues_MissingForProduction]
AS
WITH Prod AS
(
  SELECT
    202501 AS MonthKey,
    po.ItemId AS FGItemId,
    SUM(po.PlannedQty) AS ProducedQty
  FROM dbo.productionOrder po
  WHERE po.ClosedDateKey >= 20250101
    AND po.ClosedDateKey <  20250201
  GROUP BY po.ItemId
),
StdAllowed AS
(
  SELECT
    p.MonthKey,
    bl.ComponentItemId AS RMItemId,
    SUM(p.ProducedQty * bl.QtyPer) AS StdQtyAllowed
  FROM Prod p
  JOIN dbo.bomLine bl
    ON bl.ParentItemId = p.FGItemId
  GROUP BY p.MonthKey, bl.ComponentItemId
),
ActualUsed AS
(
  SELECT
    d.MonthKey,
    it.ItemId AS RMItemId,
    SUM(it.Quantity) AS ActualQtyUsed
  FROM dbo.inventoryTransaction it
  JOIN dbo.dimDate d
    ON d.DateKey = it.DateKey
  WHERE d.MonthKey = 202501
    AND it.FromLocationId = 1
    AND it.ToLocationId = 2
  GROUP BY d.MonthKey, it.ItemId
)
SELECT
  s.MonthKey,
  s.RMItemId,
  rm.ItemCode,
  s.StdQtyAllowed,
  ISNULL(a.ActualQtyUsed, 0) AS ActualQtyUsed
FROM StdAllowed s
LEFT JOIN ActualUsed a
  ON a.MonthKey = s.MonthKey
 AND a.RMItemId = s.RMItemId
JOIN dbo.dimItem rm
  ON rm.ItemId = s.RMItemId
WHERE ISNULL(a.ActualQtyUsed, 0) = 0
  AND s.StdQtyAllowed > 0;
GO
/****** Object:  Table [dbo].[overheadRate]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[overheadRate](
	[OhrId] [int] NOT NULL,
	[MonthKey] [int] NOT NULL,
	[CostCenter] [varchar](20) NOT NULL,
	[RatePerDLH] [decimal](18, 4) NOT NULL,
	[BudgetOverhead] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_overheadRate] PRIMARY KEY CLUSTERED 
(
	[OhrId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[factLaborActual]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[factLaborActual](
	[MonthKey] [int] NOT NULL,
	[CostCenter] [varchar](20) NOT NULL,
	[ActualDLH] [decimal](18, 2) NOT NULL,
	[ActualLaborCost] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_factLaborActual] PRIMARY KEY CLUSTERED 
(
	[MonthKey] ASC,
	[CostCenter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_Close_Jan_LaborVariance_Recalc]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[v_Close_Jan_LaborVariance_Recalc]
AS
WITH Prod AS
(
  SELECT
    po.ItemId AS FGItemId,
    SUM(po.PlannedQty) AS ProducedQty
  FROM dbo.productionOrder po
  WHERE po.ClosedDateKey >= 20250101
    AND po.ClosedDateKey <  20250201
  GROUP BY po.ItemId
),
StdHours AS
(
  SELECT
    p.FGItemId,
    p.ProducedQty,
    sc.LaborCostStd,
    o.RatePerDLH,
    (sc.LaborCostStd / o.RatePerDLH) AS StdHoursPerUnit,
    p.ProducedQty * (sc.LaborCostStd / o.RatePerDLH) AS StdHoursAllowed
  FROM Prod p
  JOIN dbo.standardCost sc
    ON sc.ItemId = p.FGItemId
   AND sc.CostVersion = '2025M01'
  JOIN dbo.overheadRate o
    ON o.MonthKey = 202501
   AND o.CostCenter = 'MFG'
),
Totals AS
(
  SELECT
    SUM(StdHoursAllowed) AS TotalStdHoursAllowed
  FROM StdHours
),
Actual AS
(
  SELECT
    SUM(ActualDLH) AS TotalActualHours,
    SUM(ActualLaborCost) AS TotalActualLaborCost
  FROM dbo.factLaborActual
  WHERE MonthKey = 202501
)
SELECT
  a.TotalActualHours,
  a.TotalActualLaborCost,
  t.TotalStdHoursAllowed,
  o.RatePerDLH AS StdRate,
  (a.TotalActualLaborCost - (a.TotalActualHours * o.RatePerDLH)) AS LaborRateVariance,
  ((a.TotalActualHours - t.TotalStdHoursAllowed) * o.RatePerDLH) AS LaborEfficiencyVariance,
  (a.TotalActualLaborCost - (t.TotalStdHoursAllowed * o.RatePerDLH)) AS TotalLaborVariance
FROM Actual a
CROSS JOIN Totals t
CROSS JOIN dbo.overheadRate o
WHERE o.MonthKey = 202501
  AND o.CostCenter = 'MFG';
GO
/****** Object:  View [dbo].[v_Close_Jan_LaborVariances_Recalc]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[v_Close_Jan_LaborVariances_Recalc]
AS
WITH std_hours AS
(
  SELECT
    202501 AS MonthKey,
    'MFG' AS CostCenter,
    CAST(SUM(po.ActualDLH) AS decimal(18,2)) AS StdHoursAllowed
  FROM dbo.productionOrder po
  WHERE po.ClosedDateKey >= 20250101
    AND po.ClosedDateKey <  20250201
),
actual AS
(
  SELECT
    la.MonthKey,
    la.CostCenter,
    la.ActualDLH AS ActualHours,
    la.ActualLaborCost
  FROM dbo.factLaborActual la
  WHERE la.MonthKey = 202501
    AND la.CostCenter = 'MFG'
),
rates AS
(
  SELECT
    a.MonthKey,
    a.CostCenter,
    CAST(20.00 AS decimal(18,4)) AS StdRatePerDLH,
    CAST(a.ActualLaborCost / NULLIF(a.ActualHours,0) AS decimal(18,4)) AS ActualRatePerDLH,
    s.StdHoursAllowed,
    a.ActualHours,
    a.ActualLaborCost
  FROM actual a
  JOIN std_hours s
    ON s.MonthKey = a.MonthKey
   AND s.CostCenter = a.CostCenter
)
SELECT
  MonthKey,
  CostCenter,
  StdRatePerDLH,
  ActualRatePerDLH,
  StdHoursAllowed,
  ActualHours,
  CAST((ActualRatePerDLH - StdRatePerDLH) * ActualHours AS decimal(18,2)) AS LaborRateVariance,
  CAST((StdHoursAllowed - ActualHours) * StdRatePerDLH AS decimal(18,2)) AS LaborEfficiencyVariance,
  CAST(
      ((ActualRatePerDLH - StdRatePerDLH) * ActualHours)
    + ((StdHoursAllowed - ActualHours) * StdRatePerDLH)
    AS decimal(18,2)
  ) AS TotalLaborVariance
FROM rates;
GO
/****** Object:  Table [dbo].[factActualOverhead]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[factActualOverhead](
	[MonthKey] [int] NOT NULL,
	[CostCenter] [varchar](20) NOT NULL,
	[ActualOverheadAmount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_factActualOverhead] PRIMARY KEY CLUSTERED 
(
	[MonthKey] ASC,
	[CostCenter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_Close_Jan_OverheadVarianceSplit_Recalc]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[v_Close_Jan_OverheadVarianceSplit_Recalc]
AS
WITH dlh AS
(
  SELECT
    202501 AS MonthKey,
    'MFG' AS CostCenter,
    CAST(SUM(po.ActualDLH) AS decimal(18,2)) AS TotalDLH
  FROM dbo.productionOrder po
  WHERE po.ClosedDateKey >= 20250101
    AND po.ClosedDateKey <  20250201
),
rates AS
(
  SELECT
    r.MonthKey,
    r.CostCenter,
    CAST(r.RatePerDLH AS decimal(18,4)) AS RatePerDLH,
    CAST(r.BudgetOverhead AS decimal(18,2)) AS BudgetOH
  FROM dbo.overheadRate r
  WHERE r.MonthKey = 202501
    AND r.CostCenter = 'MFG'
),
actual AS
(
  SELECT
    a.MonthKey,
    a.CostCenter,
    CAST(a.ActualOverheadAmount AS decimal(18,2)) AS ActualOH
  FROM dbo.factActualOverhead a
  WHERE a.MonthKey = 202501
    AND a.CostCenter = 'MFG'
)
SELECT
  a.MonthKey,
  a.CostCenter,
  r.BudgetOH,
  a.ActualOH,
  CAST(d.TotalDLH * r.RatePerDLH AS decimal(18,2)) AS AbsorbedOH,
  CAST(a.ActualOH - r.BudgetOH AS decimal(18,2)) AS SpendingVariance,
  CAST(r.BudgetOH - (d.TotalDLH * r.RatePerDLH) AS decimal(18,2)) AS VolumeVariance,
  CAST(a.ActualOH - (d.TotalDLH * r.RatePerDLH) AS decimal(18,2)) AS TotalOHVariance
FROM actual a
JOIN rates r
  ON r.MonthKey = a.MonthKey
 AND r.CostCenter = a.CostCenter
JOIN dlh d
  ON d.MonthKey = a.MonthKey
 AND d.CostCenter = a.CostCenter;
GO
/****** Object:  Table [dbo].[glJournalLine]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[glJournalLine](
	[GlLineId] [int] NOT NULL,
	[DateKey] [int] NOT NULL,
	[JournalId] [varchar](20) NOT NULL,
	[AccountCode] [varchar](20) NOT NULL,
	[CostCenter] [varchar](20) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[SourceType] [varchar](50) NOT NULL,
 CONSTRAINT [PK_glJournalLine] PRIMARY KEY CLUSTERED 
(
	[GlLineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_Close_Jan_MaterialPriceVariance]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[v_Close_Jan_MaterialPriceVariance]
AS
WITH p AS
(
  SELECT
    d.MonthKey,
    mp.PurchaseId,
    mp.DateKey,
    mp.ItemId,
    mp.SupplierId,
    mp.Quantity,
    mp.ActualUnitPrice,
    CAST(mp.Quantity * mp.ActualUnitPrice AS decimal(18,2)) AS TotalActualAmount
  FROM dbo.factMaterialPurchase mp
  JOIN dbo.dimDate d
    ON d.DateKey = mp.DateKey
  WHERE d.MonthKey = 202501
),
std AS
(
  SELECT
    sc.ItemId,
    CAST(sc.MaterialCostStd AS decimal(18,4)) AS StdUnitPrice
  FROM dbo.standardCost sc
  WHERE sc.CostVersion = '2025M01'
)
SELECT
  p.MonthKey,
  p.PurchaseId,
  p.DateKey,
  p.ItemId,
  p.SupplierId,
  p.Quantity,
  p.ActualUnitPrice,
  std.StdUnitPrice,
  CAST((p.ActualUnitPrice - std.StdUnitPrice) * p.Quantity AS decimal(18,2)) AS MaterialPriceVariance
FROM p
JOIN std
  ON std.ItemId = p.ItemId;
GO
/****** Object:  View [dbo].[v_Close_Jan_MaterialUsageVariance]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[v_Close_Jan_MaterialUsageVariance]
AS
WITH actual_rm_used AS
(
    SELECT
        d.MonthKey,
        it.ItemId AS RMItemId,
        SUM(it.Quantity) AS ActualQtyUsed
    FROM dbo.inventoryTransaction it
    JOIN dbo.dimDate d
        ON d.DateKey = it.DateKey
    LEFT JOIN dbo.dimLocation fromLoc
        ON fromLoc.LocationId = it.FromLocationId
    LEFT JOIN dbo.dimLocation toLoc
        ON toLoc.LocationId = it.ToLocationId
    JOIN dbo.dimItem rm
        ON rm.ItemId = it.ItemId
    WHERE d.MonthKey = 202501
      AND rm.ItemType = 'RM'
      AND fromLoc.LocationType = 'RM'
      AND toLoc.LocationType = 'WIP'
    GROUP BY d.MonthKey, it.ItemId
),
prod_qty AS
(
    SELECT
        202501 AS MonthKey,
        po.ItemId AS FGItemId,
        SUM(po.PlannedQty) AS ProducedQty
    FROM dbo.productionOrder po
    WHERE po.ClosedDateKey >= 20250101
      AND po.ClosedDateKey <  20250201
    GROUP BY po.ItemId
),
std_allowed AS
(
    SELECT
        p.MonthKey,
        b.ComponentItemId AS RMItemId,
        SUM(p.ProducedQty * b.QtyPer) AS StdQtyAllowed
    FROM prod_qty p
    JOIN dbo.bomLine b
        ON b.ParentItemId = p.FGItemId
    JOIN dbo.dimItem parent
        ON parent.ItemId = b.ParentItemId
    JOIN dbo.dimItem comp
        ON comp.ItemId = b.ComponentItemId
    WHERE parent.ItemType = 'FG'
      AND comp.ItemType = 'RM'
    GROUP BY p.MonthKey, b.ComponentItemId
),
std_price AS
(
    SELECT
        sc.ItemId AS RMItemId,
        CAST(sc.MaterialCostStd AS decimal(18,4)) AS StdUnitPrice
    FROM dbo.standardCost sc
    WHERE sc.CostVersion = '2025M01'
)
SELECT
    COALESCE(a.MonthKey, s.MonthKey) AS MonthKey,
    COALESCE(a.RMItemId, s.RMItemId) AS RMItemId,
    ISNULL(s.StdQtyAllowed, 0) AS StdQtyAllowed,
    ISNULL(a.ActualQtyUsed, 0) AS ActualQtyUsed,
    sp.StdUnitPrice,
    CAST((ISNULL(s.StdQtyAllowed, 0) - ISNULL(a.ActualQtyUsed, 0)) * sp.StdUnitPrice AS decimal(18,2)) AS MaterialUsageVariance
FROM std_allowed s
FULL OUTER JOIN actual_rm_used a
    ON a.MonthKey = s.MonthKey
   AND a.RMItemId = s.RMItemId
LEFT JOIN std_price sp
    ON sp.RMItemId = COALESCE(a.RMItemId, s.RMItemId);
GO
/****** Object:  View [dbo].[v_Close_Jan_LaborVariances]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[v_Close_Jan_LaborVariances]
AS
WITH std_hours AS
(
  SELECT
    202501 AS MonthKey,
    'MFG' AS CostCenter,
    CAST(SUM(po.ActualDLH) AS decimal(18,2)) AS StdHoursAllowed
  FROM dbo.productionOrder po
  WHERE po.ClosedDateKey >= 20250101
    AND po.ClosedDateKey <  20250201
),
actual AS
(
  SELECT
    la.MonthKey,
    la.CostCenter,
    la.ActualDLH AS ActualHours,
    la.ActualLaborCost
  FROM dbo.factLaborActual la
  WHERE la.MonthKey = 202501
    AND la.CostCenter = 'MFG'
),
rates AS
(
  SELECT
    a.MonthKey,
    a.CostCenter,
    CAST(20.00 AS decimal(18,4)) AS StdRatePerDLH,
    CAST(a.ActualLaborCost / NULLIF(a.ActualHours,0) AS decimal(18,4)) AS ActualRatePerDLH,
    s.StdHoursAllowed,
    a.ActualHours,
    a.ActualLaborCost
  FROM actual a
  JOIN std_hours s
    ON s.MonthKey = a.MonthKey
   AND s.CostCenter = a.CostCenter
)
SELECT
  MonthKey,
  CostCenter,
  StdRatePerDLH,
  ActualRatePerDLH,
  StdHoursAllowed,
  ActualHours,
  CAST((ActualRatePerDLH - StdRatePerDLH) * ActualHours AS decimal(18,2)) AS LaborRateVariance,
  CAST((StdHoursAllowed - ActualHours) * StdRatePerDLH AS decimal(18,2)) AS LaborEfficiencyVariance,
  CAST(
      ((ActualRatePerDLH - StdRatePerDLH) * ActualHours)
    + ((StdHoursAllowed - ActualHours) * StdRatePerDLH)
    AS decimal(18,2)
  ) AS TotalLaborVariance
FROM rates;
GO
/****** Object:  View [dbo].[v_Close_Jan_OverheadVarianceSplit]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[v_Close_Jan_OverheadVarianceSplit]
AS
WITH dlh AS
(
  SELECT
    202501 AS MonthKey,
    'MFG' AS CostCenter,
    CAST(SUM(po.ActualDLH) AS decimal(18,2)) AS TotalDLH
  FROM dbo.productionOrder po
  WHERE po.ClosedDateKey >= 20250101
    AND po.ClosedDateKey <  20250201
),
rates AS
(
  SELECT
    r.MonthKey,
    r.CostCenter,
    CAST(r.RatePerDLH AS decimal(18,4)) AS RatePerDLH,
    CAST(r.BudgetOverhead AS decimal(18,2)) AS BudgetOH
  FROM dbo.overheadRate r
  WHERE r.MonthKey = 202501
    AND r.CostCenter = 'MFG'
),
actual AS
(
  SELECT
    a.MonthKey,
    a.CostCenter,
    CAST(a.ActualOverheadAmount AS decimal(18,2)) AS ActualOH
  FROM dbo.factActualOverhead a
  WHERE a.MonthKey = 202501
    AND a.CostCenter = 'MFG'
)
SELECT
  a.MonthKey,
  a.CostCenter,
  r.BudgetOH,
  a.ActualOH,
  CAST(d.TotalDLH * r.RatePerDLH AS decimal(18,2)) AS AbsorbedOH,
  CAST(a.ActualOH - r.BudgetOH AS decimal(18,2)) AS SpendingVariance,
  CAST(r.BudgetOH - (d.TotalDLH * r.RatePerDLH) AS decimal(18,2)) AS VolumeVariance,
  CAST(a.ActualOH - (d.TotalDLH * r.RatePerDLH) AS decimal(18,2)) AS TotalOHVariance
FROM actual a
JOIN rates r
  ON r.MonthKey = a.MonthKey
 AND r.CostCenter = a.CostCenter
JOIN dlh d
  ON d.MonthKey = a.MonthKey
 AND d.CostCenter = a.CostCenter;
GO
/****** Object:  View [dbo].[v_Ctrl_Jan_TotalVariance_GL_Tie]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[v_Ctrl_Jan_TotalVariance_GL_Tie]
AS
WITH Ops AS
(
  SELECT
    CAST(
      ISNULL((SELECT SUM(MaterialPriceVariance) FROM dbo.v_Close_Jan_MaterialPriceVariance),0)
    + ISNULL((SELECT SUM(MaterialUsageVariance) FROM dbo.v_Close_Jan_MaterialUsageVariance),0)
    + ISNULL((SELECT SUM(LaborRateVariance) FROM dbo.v_Close_Jan_LaborVariances),0)
    + ISNULL((SELECT SUM(LaborEfficiencyVariance) FROM dbo.v_Close_Jan_LaborVariances),0)
    + ISNULL((SELECT SUM(SpendingVariance) FROM dbo.v_Close_Jan_OverheadVarianceSplit),0)
    + ISNULL((SELECT SUM(VolumeVariance) FROM dbo.v_Close_Jan_OverheadVarianceSplit),0)
    AS decimal(18,2)
    ) AS OpsTotalVariance
),
GL AS
(
  SELECT
    CAST(SUM(Amount) AS decimal(18,2)) AS GLTotalVariance
  FROM dbo.glJournalLine
  WHERE DateKey BETWEEN 20250101 AND 20250131
    AND SourceType LIKE 'Variance%'
    AND AccountCode <> 2100
)
SELECT
  o.OpsTotalVariance,
  g.GLTotalVariance,
  CAST(o.OpsTotalVariance - g.GLTotalVariance AS decimal(18,2)) AS Delta
FROM Ops o
CROSS JOIN GL g;
GO
/****** Object:  Table [dbo].[factReceivable]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[factReceivable](
	[ReceivableId] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceNumber] [varchar](30) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[InvoiceDateKey] [int] NOT NULL,
	[DueDateKey] [int] NOT NULL,
	[InvoiceAmount] [decimal](18, 2) NOT NULL,
	[AmountCollected] [decimal](18, 2) NOT NULL,
	[CollectionDateKey] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReceivableId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[factPayable]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[factPayable](
	[PayableId] [int] IDENTITY(1,1) NOT NULL,
	[PurchaseId] [int] NOT NULL,
	[SupplierId] [int] NOT NULL,
	[InvoiceDateKey] [int] NOT NULL,
	[DueDateKey] [int] NOT NULL,
	[InvoiceAmount] [decimal](18, 2) NOT NULL,
	[AmountPaid] [decimal](18, 2) NOT NULL,
	[PaymentDateKey] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PayableId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_Close_Jan_WorkingCapitalMetrics]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[v_Close_Jan_WorkingCapitalMetrics]
AS
WITH Sales AS
(
  SELECT SUM(sil.NetSalesAmount) AS NetSales
  FROM dbo.salesInvoiceLine sil
  JOIN dbo.dimDate d ON d.DateKey = sil.DateKey
  WHERE d.MonthKey = 202501
),
AR AS
(
  SELECT SUM(r.InvoiceAmount - r.AmountCollected) AS AR
  FROM dbo.factReceivable r
  WHERE r.InvoiceDateKey <= 20250131
),
AP AS
(
  SELECT SUM(p.InvoiceAmount - p.AmountPaid) AS AP
  FROM dbo.factPayable p
  WHERE p.InvoiceDateKey <= 20250131
),
Inv AS
(
  SELECT SUM(EndingStdValue) AS EndingInventory
  FROM dbo.v_Close_Jan_EndingInventory
),
COGS AS
(
  SELECT SUM(StdCogs) AS StdCOGS
  FROM dbo.v_Close_Jan_SalesCOGSStd
),
Purch AS
(
  SELECT SUM(TotalActualAmount) AS Purchases
  FROM dbo.factMaterialPurchase
  WHERE DateKey BETWEEN 20250101 AND 20250131
)
SELECT
  202501 AS MonthKey,
  s.NetSales,
  ar.AR AS AREnding,
  ap.AP AS APEnding,
  inv.EndingInventory,
  c.StdCOGS,
  p.Purchases,
  CAST(inv.EndingInventory / NULLIF(c.StdCOGS,0) * 30.0 AS decimal(18,2)) AS InventoryDays,
  CAST(ar.AR / NULLIF(s.NetSales,0) * 30.0 AS decimal(18,2)) AS DSO,
  CAST(ap.AP / NULLIF(p.Purchases,0) * 30.0 AS decimal(18,2)) AS DPO,
  CAST(ar.AR + inv.EndingInventory - ap.AP AS decimal(18,2)) AS NetWorkingCapital
FROM Sales s
CROSS JOIN AR ar
CROSS JOIN AP ap
CROSS JOIN Inv inv
CROSS JOIN COGS c
CROSS JOIN Purch p;
GO
/****** Object:  View [dbo].[v_Ctrl_Jan_Depreciation_GL_Tie]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[v_Ctrl_Jan_Depreciation_GL_Tie]
AS
WITH Dep AS
(
  SELECT SUM(MonthlyDepreciation) AS DepCalc
  FROM dbo.v_Close_Jan_Depreciation
),
GL AS
(
  SELECT SUM(Amount) AS DepGL
  FROM dbo.glJournalLine
  WHERE AccountCode = 1600
    AND DateKey BETWEEN 20250101 AND 20250131
)
SELECT
  DepCalc,
  DepGL,
  DepCalc + DepGL AS Delta
FROM Dep CROSS JOIN GL;
GO
/****** Object:  View [dbo].[v_Ctrl_Jan_FA_Rollforward_Tie]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[v_Ctrl_Jan_FA_Rollforward_Tie]
AS
SELECT
  AssetId,
  OpeningNBV,
  Additions,
  Depreciation,
  EndingNBV,
  (OpeningNBV + Additions - Depreciation) - EndingNBV AS Delta
FROM dbo.v_Close_Jan_FARollforward;
GO
/****** Object:  View [dbo].[v_Ctrl_Jan_Warranty_Accrual_Tie]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[v_Ctrl_Jan_Warranty_Accrual_Tie]
AS
WITH Sales AS
(
  SELECT SUM(sil.NetSalesAmount) AS NetSales
  FROM dbo.salesInvoiceLine sil
  JOIN dbo.dimDate d ON d.DateKey = sil.DateKey
  WHERE d.MonthKey = 202501
),
Roll AS
(
  SELECT Accrual
  FROM dbo.v_Close_Jan_WarrantyRollforward
)
SELECT
  s.NetSales,
  r.Accrual,
  CAST(s.NetSales * 0.02 AS decimal(18,2)) AS ExpectedAccrual,
  r.Accrual - CAST(s.NetSales * 0.02 AS decimal(18,2)) AS Delta
FROM Sales s CROSS JOIN Roll r;
GO
/****** Object:  View [dbo].[v_Ctrl_Jan_Warranty_Claims_Tie]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[v_Ctrl_Jan_Warranty_Claims_Tie]
AS
WITH Claims AS
(
  SELECT SUM(ClaimCostActual) AS ClaimsJan
  FROM dbo.warrantyClaim wc
  JOIN dbo.dimDate d ON d.DateKey = wc.DateKey
  WHERE d.MonthKey = 202501
),
Roll AS
(
  SELECT ClaimsCost
  FROM dbo.v_Close_Jan_WarrantyRollforward
)
SELECT
  c.ClaimsJan,
  r.ClaimsCost,
  c.ClaimsJan - r.ClaimsCost AS Delta
FROM Claims c CROSS JOIN Roll r;
GO
/****** Object:  View [dbo].[v_Ctrl_Jan_Warranty_Rollforward_Tie]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[v_Ctrl_Jan_Warranty_Rollforward_Tie]
AS
SELECT
  OpeningReserve,
  Accrual,
  ClaimsCost,
  EndingReserve,
  (OpeningReserve + Accrual - ClaimsCost) - EndingReserve AS Delta
FROM dbo.v_Close_Jan_WarrantyRollforward;
GO
/****** Object:  View [dbo].[v_Close_Jan_ManagementPack_EBIT]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[v_Close_Jan_ManagementPack_EBIT]
AS
WITH Revenue AS
(
  SELECT CAST(SUM(NetSalesAmount) AS decimal(18,2)) AS Revenue
  FROM dbo.salesInvoiceLine sil
  JOIN dbo.dimDate d ON d.DateKey = sil.DateKey
  WHERE d.MonthKey = 202501
),
StdCogs AS
(
  SELECT CAST(SUM(StdCogs) AS decimal(18,2)) AS StdCOGS
  FROM dbo.v_Close_Jan_SalesCOGSStd
),
Variances AS
(
  SELECT
    CAST(ISNULL((SELECT SUM(MaterialPriceVariance) FROM dbo.v_Close_Jan_MaterialPriceVariance),0) AS decimal(18,2)) AS MPV,
    CAST(ISNULL((SELECT SUM(MaterialUsageVariance) FROM dbo.v_Close_Jan_MaterialUsageVariance),0) AS decimal(18,2)) AS MUV,
    CAST(ISNULL((SELECT SUM(LaborRateVariance) FROM dbo.v_Close_Jan_LaborVariances),0) AS decimal(18,2)) AS LaborRateVar,
    CAST(ISNULL((SELECT SUM(LaborEfficiencyVariance) FROM dbo.v_Close_Jan_LaborVariances),0) AS decimal(18,2)) AS LaborEffVar,
    CAST(ISNULL((SELECT SUM(SpendingVariance) FROM dbo.v_Close_Jan_OverheadVarianceSplit),0) AS decimal(18,2)) AS OHSpendingVar,
    CAST(ISNULL((SELECT SUM(VolumeVariance) FROM dbo.v_Close_Jan_OverheadVarianceSplit),0) AS decimal(18,2)) AS OHVolumeVar
),
Dep AS
(
  SELECT CAST(SUM(MonthlyDepreciation) AS decimal(18,2)) AS Depreciation
  FROM dbo.v_Close_Jan_Depreciation
),
Warr AS
(
  SELECT CAST(SUM(Accrual) AS decimal(18,2)) AS WarrantyAccrual
  FROM dbo.v_Close_Jan_WarrantyRollforward
)
SELECT
  202501 AS MonthKey,
  r.Revenue,
  s.StdCOGS,
  v.MPV,
  v.MUV,
  v.LaborRateVar,
  v.LaborEffVar,
  v.OHSpendingVar,
  v.OHVolumeVar,
  CAST(v.MPV + v.MUV + v.LaborRateVar + v.LaborEffVar + v.OHSpendingVar + v.OHVolumeVar AS decimal(18,2)) AS TotalManufacturingVariances,
  CAST(r.Revenue - s.StdCOGS AS decimal(18,2)) AS GrossMargin_Std,
  CAST(r.Revenue - s.StdCOGS + (v.MPV + v.MUV + v.LaborRateVar + v.LaborEffVar + v.OHSpendingVar + v.OHVolumeVar) AS decimal(18,2)) AS GrossMargin_AfterVariances,
  d.Depreciation,
  w.WarrantyAccrual,
  CAST(
    (r.Revenue - s.StdCOGS + (v.MPV + v.MUV + v.LaborRateVar + v.LaborEffVar + v.OHSpendingVar + v.OHVolumeVar))
    - d.Depreciation
    - w.WarrantyAccrual
    AS decimal(18,2)
  ) AS EBIT
FROM Revenue r
CROSS JOIN StdCogs s
CROSS JOIN Variances v
CROSS JOIN Dep d
CROSS JOIN Warr w;
GO
/****** Object:  View [dbo].[v_Close_Jan_GL_EBIT]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[v_Close_Jan_GL_EBIT]
AS
WITH GL AS
(
  SELECT
    SUM(CASE WHEN AccountCode = 4000 THEN Amount ELSE 0 END) AS Revenue,
    SUM(CASE WHEN AccountCode = 5000 THEN Amount ELSE 0 END) AS COGS,
    SUM(CASE WHEN AccountCode IN (5100,5110,5200,5210,5300,5310) THEN Amount ELSE 0 END) AS Variances,
    SUM(CASE WHEN AccountCode = 6100 THEN Amount ELSE 0 END) AS Depreciation,
    SUM(CASE WHEN AccountCode = 6210 THEN Amount ELSE 0 END) AS Warranty
  FROM dbo.glJournalLine
  WHERE DateKey BETWEEN 20250101 AND 20250131
)
SELECT
  202501 AS MonthKey,
  CAST(Revenue AS decimal(18,2)) AS Revenue,
  CAST(COGS AS decimal(18,2)) AS COGS,
  CAST(Variances AS decimal(18,2)) AS Variances,
  CAST(Depreciation AS decimal(18,2)) AS Depreciation,
  CAST(Warranty AS decimal(18,2)) AS Warranty,
  CAST(Revenue + COGS + Variances + Depreciation + Warranty AS decimal(18,2)) AS EBIT
FROM GL;
GO
/****** Object:  View [dbo].[v_Ctrl_Jan_EBIT_Reconciliation]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[v_Ctrl_Jan_EBIT_Reconciliation]
AS
SELECT
  o.MonthKey,
  o.EBIT AS OperationalEBIT,
  g.EBIT AS GLEBIT,
  CAST(o.EBIT - g.EBIT AS decimal(18,2)) AS Delta
FROM dbo.v_Close_Jan_ManagementPack_EBIT o
JOIN dbo.v_Close_Jan_GL_EBIT g
  ON g.MonthKey = o.MonthKey;
GO
/****** Object:  View [dbo].[v_Close_Jan_InvBridge]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[v_Close_Jan_InvBridge]
AS
WITH tx AS
(
  SELECT
    d.MonthKey,
    it.StdValue,
    toLoc.LocationType AS ToLocationType,
    fromLoc.LocationType AS FromLocationType
  FROM dbo.inventoryTransaction it
  JOIN dbo.dimDate d
    ON d.DateKey = it.DateKey
  LEFT JOIN dbo.dimLocation toLoc
    ON toLoc.LocationId = it.ToLocationId
  LEFT JOIN dbo.dimLocation fromLoc
    ON fromLoc.LocationId = it.FromLocationId
  WHERE d.MonthKey = 202501
),
movIn AS
(
  SELECT
    MonthKey,
    ToLocationType AS LocationType,
    SUM(StdValue) AS StdValueIn
  FROM tx
  WHERE ToLocationType IS NOT NULL
  GROUP BY MonthKey, ToLocationType
),
movOut AS
(
  SELECT
    MonthKey,
    FromLocationType AS LocationType,
    SUM(StdValue) AS StdValueOut
  FROM tx
  WHERE FromLocationType IS NOT NULL
  GROUP BY MonthKey, FromLocationType
)
SELECT
  COALESCE(i.MonthKey, o.MonthKey) AS MonthKey,
  COALESCE(i.LocationType, o.LocationType) AS LocationType,
  COALESCE(i.StdValueIn, 0) AS StdValueIn,
  COALESCE(o.StdValueOut, 0) AS StdValueOut,
  COALESCE(i.StdValueIn, 0) - COALESCE(o.StdValueOut, 0) AS NetMovement
FROM movIn i
FULL OUTER JOIN movOut o
  ON o.MonthKey = i.MonthKey
 AND o.LocationType = i.LocationType;
GO
/****** Object:  View [dbo].[v_Close_Jan_InvBridgeByType]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[v_Close_Jan_InvBridgeByType]
AS
SELECT
  d.DateValue,
  it.DateKey,
  i.ItemType AS InvBucket,
  CASE
    WHEN it.FromLocationId IS NULL AND it.ToLocationId IS NOT NULL THEN 'Receipt'
    WHEN it.FromLocationId IS NOT NULL AND it.ToLocationId IS NULL THEN 'Issue'
    WHEN it.FromLocationId IS NOT NULL AND it.ToLocationId IS NOT NULL THEN 'Transfer'
    ELSE 'Other'
  END AS MovementType,
  SUM(it.StdValue) AS Amount
FROM dbo.inventoryTransaction it
JOIN dbo.dimDate d
  ON d.DateKey = it.DateKey
JOIN dbo.dimItem i
  ON i.ItemId = it.ItemId
WHERE it.DateKey >= 20250101
  AND it.DateKey <  20250201
GROUP BY
  d.DateValue,
  it.DateKey,
  i.ItemType,
  CASE
    WHEN it.FromLocationId IS NULL AND it.ToLocationId IS NOT NULL THEN 'Receipt'
    WHEN it.FromLocationId IS NOT NULL AND it.ToLocationId IS NULL THEN 'Issue'
    WHEN it.FromLocationId IS NOT NULL AND it.ToLocationId IS NOT NULL THEN 'Transfer'
    ELSE 'Other'
  END;
GO
/****** Object:  View [dbo].[v_Close_Jan_EndInvValue_ByBucket]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[v_Close_Jan_EndInvValue_ByBucket]
AS
SELECT
  i.ItemType AS InvBucket,
  SUM(it.StdValue) AS EndInvValue_AssumingZeroBegin
FROM dbo.inventoryTransaction it
JOIN dbo.dimItem i
  ON i.ItemId = it.ItemId
WHERE it.DateKey <= 20250131
GROUP BY i.ItemType;
GO
/****** Object:  View [dbo].[v_Close_Jan_OverheadVariance]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[v_Close_Jan_OverheadVariance]
AS
WITH act AS
(
    SELECT
        MonthKey,
        CostCenter,
        SUM(ActualOverheadAmount) AS ActualOverhead
    FROM dbo.factActualOverhead
    WHERE MonthKey = 202501
      AND CostCenter = 'MFG'
    GROUP BY MonthKey, CostCenter
),
dlh AS
(
    SELECT
        202501 AS MonthKey,
        'MFG' AS CostCenter,
        SUM(ISNULL(po.ActualDLH, 0)) AS TotalDLH
    FROM dbo.productionOrder po
    WHERE po.ReleasedDateKey >= 20250101
      AND po.ReleasedDateKey <  20250201
),
rate AS
(
    SELECT
        MonthKey,
        CostCenter,
        RatePerDLH
    FROM dbo.overheadRate
    WHERE MonthKey = 202501
      AND CostCenter = 'MFG'
)
SELECT
    act.MonthKey,
    act.CostCenter,
    act.ActualOverhead,
    dlh.TotalDLH,
    rate.RatePerDLH,
    CAST(dlh.TotalDLH * rate.RatePerDLH AS decimal(18,2)) AS AbsorbedOverhead,
    CAST(act.ActualOverhead - (dlh.TotalDLH * rate.RatePerDLH) AS decimal(18,2)) AS OverUnderAbsorption
FROM act
JOIN dlh
  ON dlh.MonthKey = act.MonthKey
 AND dlh.CostCenter = act.CostCenter
JOIN rate
  ON rate.MonthKey = act.MonthKey
 AND rate.CostCenter = act.CostCenter;
GO
/****** Object:  View [dbo].[v_Close_Jan_TotalVariances]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[v_Close_Jan_TotalVariances]
AS
SELECT
    202501 AS MonthKey,
    mp.NetMPV,
    mu.NetMUV,
    lv.LaborRateVariance,
    lv.LaborEfficiencyVariance,
    oh.SpendingVariance AS OHSpendingVariance,
    oh.VolumeVariance AS OHVolumeVariance
FROM
(
    SELECT SUM(MaterialPriceVariance) AS NetMPV
    FROM dbo.v_Close_Jan_MaterialPriceVariance
) mp
CROSS JOIN
(
    SELECT SUM(MaterialUsageVariance) AS NetMUV
    FROM dbo.v_Close_Jan_MaterialUsageVariance
) mu
CROSS JOIN dbo.v_Close_Jan_LaborVariances lv
CROSS JOIN dbo.v_Close_Jan_OverheadVarianceSplit oh;
GO
/****** Object:  View [dbo].[v_Close_Jan_AR]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_Close_Jan_AR]
AS
SELECT
    20250131 AS AsOfDateKey,
    SUM(r.InvoiceAmount - ISNULL(r.AmountCollected,0)) AS AR_Balance
FROM dbo.factReceivable r
WHERE r.InvoiceDateKey BETWEEN 20250101 AND 20250131
AND (r.CollectionDateKey IS NULL OR r.CollectionDateKey > 20250131);
GO
/****** Object:  View [dbo].[v_Close_Jan_AP]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_Close_Jan_AP]
AS
SELECT
    20250131 AS AsOfDateKey,
    SUM(InvoiceAmount - ISNULL(AmountPaid,0)) AS AP_Balance
FROM dbo.factPayable
WHERE InvoiceDateKey BETWEEN 20250101 AND 20250131
AND (PaymentDateKey IS NULL OR PaymentDateKey > 20250131);
GO
/****** Object:  View [dbo].[v_Close_Jan_WorkingCapital]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_Close_Jan_WorkingCapital]
AS
WITH Inv AS
(
    SELECT
        SUM(EndingStdValue) AS Inventory_Balance
    FROM dbo.v_Close_Jan_EndingInventory
    WHERE MonthKey = 202501
)
SELECT
    20250131 AS AsOfDateKey,
    AR.AR_Balance AS AR,
    Inv.Inventory_Balance AS Inventory,
    AP.AP_Balance AS AP,
    (AR.AR_Balance + Inv.Inventory_Balance - AP.AP_Balance) AS NetWorkingCapital
FROM dbo.v_Close_Jan_AR AR
CROSS JOIN dbo.v_Close_Jan_AP AP
CROSS JOIN Inv;
GO
/****** Object:  View [dbo].[v_Close_Jan_WorkingCapital_Detail]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_Close_Jan_WorkingCapital_Detail]
AS
SELECT
    20250131 AS AsOfDateKey,
    e.LocationType,
    SUM(e.EndingStdValue) AS EndingInventory
FROM dbo.v_Close_Jan_EndingInventory e
WHERE e.MonthKey = 202501
GROUP BY e.LocationType;
GO
/****** Object:  Table [dbo].[dimCustomer]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimCustomer](
	[CustomerId] [int] NOT NULL,
	[CustomerName] [varchar](100) NOT NULL,
	[Region] [varchar](50) NOT NULL,
	[PaymentTermsDays] [int] NOT NULL,
 CONSTRAINT [PK_dimCustomer] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dimSupplier]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimSupplier](
	[SupplierId] [int] NOT NULL,
	[SupplierName] [varchar](100) NOT NULL,
	[CurrencyCode] [varchar](3) NOT NULL,
	[PaymentTermsDays] [int] NOT NULL,
 CONSTRAINT [PK_dimSupplier] PRIMARY KEY CLUSTERED 
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[soxControlLog]    Script Date: 02/03/2026 2.10.43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[soxControlLog](
	[ControlId] [varchar](20) NULL,
	[MonthKey] [int] NULL,
	[ControlName] [varchar](200) NULL,
	[ControlType] [varchar](20) NULL,
	[ControlOwner] [varchar](100) NULL,
	[Status] [varchar](10) NULL,
	[ExecutionDate] [datetime] NULL,
	[EvidenceReference] [varchar](200) NULL,
	[ExceptionCount] [int] NULL,
	[Reviewer] [varchar](100) NULL,
	[Comment] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Index [IX_factPayable_InvoiceDateKey]    Script Date: 02/03/2026 2.10.43 ******/
CREATE NONCLUSTERED INDEX [IX_factPayable_InvoiceDateKey] ON [dbo].[factPayable]
(
	[InvoiceDateKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_factPayable_PurchaseId]    Script Date: 02/03/2026 2.10.43 ******/
CREATE NONCLUSTERED INDEX [IX_factPayable_PurchaseId] ON [dbo].[factPayable]
(
	[PurchaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_factPayable_SupplierId]    Script Date: 02/03/2026 2.10.43 ******/
CREATE NONCLUSTERED INDEX [IX_factPayable_SupplierId] ON [dbo].[factPayable]
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_factReceivable_CustomerId]    Script Date: 02/03/2026 2.10.43 ******/
CREATE NONCLUSTERED INDEX [IX_factReceivable_CustomerId] ON [dbo].[factReceivable]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_factReceivable_InvoiceDateKey]    Script Date: 02/03/2026 2.10.43 ******/
CREATE NONCLUSTERED INDEX [IX_factReceivable_InvoiceDateKey] ON [dbo].[factReceivable]
(
	[InvoiceDateKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[factPayable] ADD  CONSTRAINT [DF_factPayable_AmountPaid]  DEFAULT ((0)) FOR [AmountPaid]
GO
ALTER TABLE [dbo].[factReceivable] ADD  CONSTRAINT [DF_factReceivable_AmountCollected]  DEFAULT ((0)) FOR [AmountCollected]
GO
USE [master]
GO
